{{#bootstrap-modal-form title   =  "Add - New eBook"
                        submit  =  "create"
                        cancel  =  "cancel"}}

{{#form-key-capture submit  =  "create"
                    cancel  =  "cancel"}}
  <div class="form-group">
		<label>
			Title
		</label>

		{{input type          =  "text"
            placeholder   =  "title"
            class         =  "form-control"
            valueBinding  =  "title"}}
  </div>

  <div class="form-group">
    <label>
      Author
    </label>

    {{input type          =  "text"
            placeholder   =  "author"
            class         =  "form-control"
            valueBinding  =  "author"}}
  </div>

  <div class="form-group">
    <label>
      Image URL
    </label>

    {{input type          =  "text" placeholder="http://..."
            class         =  "form-control"
            valueBinding  =  "image"}}
  </div>
{{/form-key-capture}}

{{/bootstrap-modal-form}}
